:root {
    --Primary_color: #009cd7;
}

*{
    margin: 0;
    padding: 0;
    font-family:  Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
body{
    height: 2000px;
}
.header {
    width: 100%;
    z-index: 2;
    position: fixed;
}
.header_top{
    height: 80px;
    width: 100%;
    background-color: #009cd7;
    display: flex;
    justify-content: space-between; 
}

.header_item_left{
    height: 100%;
    display: flex;
}
.header_item_right{
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.header_item {
    clear: left;
    padding: auto;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.header_item_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid white;

}
.header_text_icon .fas {
    font-size: 23px;
    padding-bottom: 5px;
}
.header_item_text{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
}
.header_line {
    width: 1px;
    height: 80%;
    background-color: white;
    margin: auto 0;
}
.header_clear_border {
    border: 0px ;
}
.header_logo{
    width: 200px;
    margin: auto 0;
}
.header_logo_text{
    margin-left: 40px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
/* header bottom  */
.header_bottom{
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #00000033;
}
a.header_btm_item{
    height: 100%;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}
.header_btm_text{
    line-height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: NotoSerif;
}
a.header_btm_item:hover{
    color: var(--Primary_color);
    border-bottom: 2px solid var(--Primary_color);
}
/* End header  */
